.game-card {
  --_gf-players-column: 70px;
  --_gf-result-column: 40px;

  display: grid;
  grid-template-columns: 1fr var(--_gf-players-column) var(--_gf-result-column);
  gap: var(--op-space-x-small);
  padding: var(--op-space-x-small);
  padding-left: var(--op-space-medium);
  border: var(--op-border-width) solid var(--op-color-border);
  border-radius: var(--op-radius-small);
  box-shadow: var(--op-shadow-x-small);
  background-color: white;

  .game-card__title {
    font-size: var(--op-font-medium);
    color: var(--op-color-neutral-on-plus-five-alt);
    font-weight: var(--op-font-weight-normal);
  }

  .game-card__result {
    text-align: left;
    font-size: var(--op-font-small);
    color: var(--op-color-neutral-on-plus-eight-alt);
    font-weight: var(--op-font-weight-light);
  }
}
