.stat-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--op-space-scale-unit);
  border: var(--op-border-width) solid var(--op-color-border);
  border-radius: var(--op-radius-small);
  background-color: white;
  box-shadow: var(--op-shadow-x-small);

  .stat-card__label {
    font-size: var(--op-font-small);
    color: var(--op-color-neutral-on-plus-five);
    font-weight: var(--op-font-weight-normal);
  }

  .stat-card__value {
    font-size: var(--op-font-medium);
    color: var(--op-color-neutral-on-plus-five-alt);
    font-weight: var(--op-font-weight-normal);
  }
}
