title Game Platform

= csrf_meta_tags
= csp_meta_tag

meta name="viewport" content="width=device-width, initial-scale=1"
meta name="turbo-refresh-method" content="morph"
meta name="turbo-refresh-scroll" content="preserve"
link rel='stylesheet' href="https://cdn.jsdelivr.net/npm/@rolemodel/optics@2.3.1/dist/css/optics+phosphor_icons.min.css"
/ link rel='stylesheet' href="stylesheets/application.css"

= stylesheet_link_tag :app, "data-turbo-track": "reload"
= javascript_include_tag 'application', 'data-turbo-track': 'reload', defer: true, type: :module

= yield :head
